/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@300&display=swap");

/* Asterisk wildcard selector used to override the browsers' default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* General project styles */
    color: #1c4e65;
    font-family: "Nunito Sans", sans-serif;
}

h1,
h2 {
    font-family: "poppins", sans-serif;
    text-transform: none;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fefcf5;
}

h3 {
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: 1px;
    width: 100%;
    margin-bottom: 10px;
}

h4 {
    border-bottom: 1px solid #1c4e65;
    display: inline-block;
    padding-bottom: 2px;
}

ul {
    margin: 0;
    padding: 20px;
    list-style-type: disc;
}

li {
    margin-bottom: 10px;
}

/* Header */
header {
    background-color: #70bdd2;
    position: fixed;
    width: 100%;
    padding: 1 1rem;
    box-shadow: 0 2px 2px #1c4e65;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    z-index: 101;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: medium;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin: 1em 0 1em;
    color: #fefcf5;
}

.active {
    border-bottom: 1px solid #1c4e65;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #70bdd2;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #1c4e65;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.3rem;
}

/* Main content */
main {
    /* Make the main element take up excess space so as to push footer down */
    flex: 1 0 auto;
    margin-top: 61px;
    background-color: #fefcf5;
}

/* Hero section */
#hero {
    height: 350px;
    width: 100%;
    background: url("../images/supportgroup.webp") no-repeat center/cover;
}

/* Homepage */
#overview {
    padding: 0;
    margin: 0;
}

#overview p {
    letter-spacing: 1px;
    width: 100%;
    margin: 20px 0;
}

#services {
    padding: 0 1rem;
    margin: 10px 0;
}

.responsive_map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.responsive_map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Advice Page */
.video_container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.wrapped_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.three-column-grid {
    display: block;
}

/*columns*/
.three-column-grid>* {
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid #06c9ff;
    border-spacing: 5px;
}

.column h3 {
    text-align: center;
}

.column>ul>li {
    font-size: medium;
    letter-spacing: 2px;
}

.column {
    margin: 10px;
    background-color: #fdca006c;
    border-radius: 15px;
}

/* Support Page */
/* styles and formats for background image and form layout*/
#signup-form {
    color: #ffffff;
    background-image: url("../images/background-support.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 10px 10px;
}

#signup-form>h2 {
    color: #000000;
    background-color: #dcbfd7a5;
    width: 100%;
    text-align: center;
    border-bottom: none;
    padding: 8px;
}

label {
    display: flex;
    flex-direction: column;
    color: #000000;
    background-color: #dcbfd7a5;
}

input {
    color: #000000;
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 6px;
}

input[type="text"],
[type="email"] {
    border: solid #70bdd2;
    color: #000000;
    width: 55%;
    margin: auto;
    align-items: center;
    box-sizing: border-box;
}

/* format for the submit button of the form */
button {
    border: solid #70bdd2;
    background-color: #4d77c6;
    color: #ffffff;
    display: inline-block;
    width: 55%;
    padding: 5px;
}

/* details of peer support groups */
.container {
    display: flex;
    flex-direction: column;
}

.cork {
    flex: 0.5;
    height: 300px;
    background-color: #dfa2df;
    border: solid #70bdd2;
    padding: 1px 10px 10px;
    display: block;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.cork h3 {
    text-align: center;
    color: #ffffff;
}

.cork p {
    text-align: center;
    color: #182492;
    letter-spacing: 1px;
}

.galway {
    flex: 0.5;
    height: 300px;
    background-color: #b9a4e8;
    border: solid #70bdd2;
    padding: 1px 10px 10px;
    display: block;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.galway h3 {
    text-align: center;
    color: #ffffff;
}

.galway p {
    text-align: center;
    color: #182492;
    letter-spacing: 1px;
}

.dublin {
    flex: 0.5;
    height: 300px;
    background-color: #5cbaf4;
    border: solid #70bdd2;
    padding: 1px 10px 10px;
    display: block;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.dublin h3 {
    text-align: center;
    color: #ffffff;
}

.dublin p {
    text-align: center;
    color: #182492;
    letter-spacing: 1px;
}

/* Footer */
#social-networks {
    text-align: center;
    margin-top: 10px;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #70bdd2;
}

#social-networks i {
    font-size: 100%;
    padding: 5%;
}

/* Media Query for smaller devices (375px and below) */
@media (min-width: 375px) {

    /* Push main content down on smaller devices */
    main {
        margin-top: 30px;
    }
}

/* Media Query for tablet and iPad (768px and up) */
@media (min-width: 767px) {

    /* Push main content down on tablet and ipad screen */
    main {
        margin-top: 100px;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        font-size: 20px;
        color: #fefcf5;
        padding-left: 1rem;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 155%;
        line-height: 60px;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 0.5rem;
    }

    /* Form */
    #signup-form {
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 3rem;
    }

    .container {
        position: center;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    /* columns for advice section */
    .three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Media Query for laptop and desktop (992px and up) */
@media (min-width: 992px) {

    /* Push main content down on laptop and desktop screen */
    main {
        margin-top: 101px;
    }

    #logo {
        font-size: 200%;
    }

    #menu a:hover {
        border-bottom: 1px solid #1c4e65;
    }

    #menu>li {
        font-size: 30px;
    }
}