/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@300&display=swap');

/* Asterisk wildcard selector used to override the browsers' default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General styles*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* General project styles */
    color: #153a4b;
    font-family: 'nunito sans', sans-serif;
}

/* Header */
header {
    background-color: #4dacc79a;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #153a4b;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    z-index: 100;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'poppins', sans-serif;
    text-align: center;
    text-transform: none;
    font-size: 27px;
    letter-spacing: 2px;
    color: #fefcf5;
}

#menu {
    font-size: medium;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu >li {
    margin-bottom: 0.5em;
}
.active {
    border-bottom: 1px solid #141f24;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #4dacc79a;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #141f24;
    display: none;
    top:100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1rem;
}

/* Main content */
main {
    background-color: #fefcf5;
    /* Make the main element take up excess space so as to push footer down */
    flex: 1 0 auto;
    margin-top: 80px;
    display: inline-block;
}

/* Footer */
footer {
    background-color: #4dacc79a;
    color: #fefcf5;
}