/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@300&display=swap');

/* Asterisk wildcard selector used to override the browsers' default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General styles*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* General project styles */
    color: #153a4b;
    font-family: 'nunito sans', sans-serif;
}

/* Header */
header {
    background-color: #c8d8e4;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #153a4b;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'poppins', sans-serif;
    text-align: center;
    text-transform: none;
    font-size: 40px;
    letter-spacing: 2px;
    color: #141f24;
}

/* Main content */
main {
    background-color: #f2f2f2;
}

/* Footer */
footer {
    background-color: #28758aac;
}